html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: sans-serif, Helvetica, Arial;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

div {
  font-size: 11px;
}
.wunderground-logo {
  width: 60px;
}
.fa-layers-text {
  font-size: 12px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.alert {
  font-weight: bold;
  color: tomato;
}
.alert-title {
  font-weight: bold;
  color: tomato;
  margin-top: 10px;
  margin-bottom: 8px;
}
.alert-line {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
  line-height: 1.3;
}
.no-alert {
  font-weight: normal;
  color: black;
}
.page-title {
  margin: 10px auto auto 10px;
}
#alerts {
  margin: 0;
  font-size: 14px;
}
#alert-details {
  margin-top: 15px;
}
#weather-image {
  margin: auto;
}
#today {
  margin-top: 18px;
}
#five-day {
  margin-top: 25px;
}
.radar-location {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 16px;
}
.radar-image {
  margin-right: auto;
  margin-left: auto;
}
.please-wait {
  cursor: wait;
}
.normal {
  cursor: default;
}
.rotate-90 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.planner-chart {
  border: 1px solid #D8D8D8;
  box-sizing: content-box;
  height: 300px;
  width: 400px;
  margin-top: 100px;
  margin-bottom: auto;
  margin-left: -45px;
  margin-right: auto;
}

.please-wait-content {
  background-color: #e0d916;
}
